.kinolog
{
    padding: 155px 100px;
    background: url(/images/dog/dog.png) bottom right / contain no-repeat;
    &__title
    {
        white-space: pre-line;
    }
    &__text
    {
        margin: 17px 0 0;
        white-space: pre-line;
        color: $second-color;
    }
}

@media screen and (max-width: 1199px) {
    .kinolog
    {
        background-size: 50%;
    }
}

@media screen and (max-width: 991px) {
    .kinolog
    {
        padding: 100px;
        background: none;
    }
}

@media screen and (max-width: 767px) {
    .kinolog
    {
        padding: 32px 24px;
        &__title
        {
            font-size: 3.6rem !important;
        }
    }
}