.first-screen
{
    min-height: 679px;
    padding: 100px;
    .wrapper
    {
        min-height: 491px;
        background: url(/images/fs.png) center center/cover no-repeat, url(/images/main-senim-logo.svg) top right/contain no-repeat;
        /* mix-blend-mode: overlay; */
        /* opacity: 0.3; */
        background-color: #111111;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
        border-radius: 40px;
    }
    &__advantages
    {
        width: max(506px);
        &-item,
        &-item__text
        {
            display: flex;
            flex-direction: column;
            font-size: 4rem;
        }
        &-item__text
        {
            font-size: 1.6rem;
        }
    }
}