.license
{
    padding: 100px 0;
    text-align: center;
    background-color: #1D1D1D;;
    .title__64
    {
        margin-bottom: 15px;
    }
    &__subtitle
    {
        color: $accent-color;
        margin-bottom: 46px;
    }
    &__images
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 46px;
        &-img
        {
            max-width: 430px;
        }
    }
}

@media screen and (max-width: 991px) {
    .license
    {
        padding: 100px 50px;
        &__images
        {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 767px)
{
    .license
    {
        padding: 32px 24px;
        &__title
        {
            font-size: 4.4rem !important;
            margin-bottom: 5px !important;
        }
        &__subtitle
        {
            margin-bottom: 20px;
        }
        &__images
        {
            gap: 10px;
        }
    }
}

@media screen and (max-width: 575px)
{
    .license
    {
        &__images
        {
            &-img
            {
                max-width: 300px;
            }
        }
    }
}