.contact
{
    position: relative;
    padding: 100px;
    background: url(/images/services/overlay.png) center center/cover no-repeat;
    &__title
    {
        line-height: 120% !important;
        text-align: left !important;
        letter-spacing: -2.56px;
        margin-bottom: 0 !important;
    }
    &__text
    {
        font-size: 2.4rem !important;
        color: $second-color;
        line-height: 140% !important;
    }
    &__form
    {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        &_wrapper
        {
            display: flex;
            gap: 10px;
            & .contact__form_input
            {
                width: 245px;
            }
        }
        &_input_box
        {
            position: relative;
        }
        &_input
        {
            width: 500px;
            padding: 20px 20px 22px;
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, 0.20);
            background: #1D1D1F;
            color: #FFF;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 120%;
            &t:focus
            {
                outline: 1px solid #fff;
            }
        }
        &_label
        {
            position: absolute;
            top: 20px;
            left: 20px;
            color: $second-color;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 120%;
        }
    }
    &__img
    {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10%;
    }
    &__line
    {
        margin: 44px 0;
        height: 1px;
        background: rgba(255, 255, 255, 0.20);
    }
    &__footer
    {
        display: flex;
        gap: 44px;
        align-items: center;
        &_btn
        {
            padding: 15px 30px 17px;
            border-radius: 11px;
            text-align: center;
            font-weight: 500 !important;
            line-height: 120% !important;
            background-color: #fff;
            color: #1D1D1F;
        }
        span
        {
            text-decoration: none;
        }
        &_call
        {
            font-weight: 500 !important;
            line-height: 120% !important;
            text-decoration-line: underline;
        }
    }
    .mobile-input
    {
        display: none;
    }
}

@media screen and (min-width: 1600px)
{
    .contact
    {
        .container
        {
            position: relative;
        }
    }    
}

@media screen and (max-width: 1199px)
{
    .contact
    {
        &__wrapper
        {
            gap: 30px;
        }
        &__footer
        {
            justify-content: start;
        }
        &__img
        {
            width: 30%;
        }
    }
}

@media screen and (max-width: 1023px)
{
    .contact
    {
        &__img
        {
            display: none;
        }
    }
}

@media screen and (max-width: 991px)
{
    .contact
    {
        padding: 100px 50px;
        &__wrapper
        {
            place-content: center;
        }
        &__img
        {
            display: none;
        }
        &__footer
        {
            align-items: center;
            justify-content: center;
        }
        .line
        {
            margin: 64px 0 44px;
        }
    }
}

@media screen and (max-width: 767px)
{
    .contact
    {
        padding: 60px 24px;
        &__title
        {
            font-size: 4.4rem !important;
        }
        &__text
        {
            display: none;
        }
        &__form
        {
            margin-top: 44px;
        }
        &__footer
        {
            flex-direction: column;
            align-items: baseline;
            &_btn
            {
                padding: 13px 20px;
                font-size: 1.4rem !important;
                font-weight: 600 !important;
                line-height: 120% !important;
            }
        }
    }
}

@media screen and (max-width: 575px)
{
    .contact
    {
        &__wrapper
        {
            place-content: normal;
        }
        &__title
        {
            width: auto;
        }
        &__left
        {
            max-width: 100%;
        }
        &__form
        {
            &_wrapper
            {
                display: none;
            }
            &_input
            {
                width: 100%;
            }
        }
        .mobile-input
        {
            display: block;
        }
        &__footer
        {
            gap: 18px;
            align-items: baseline;
            &_call
            {
                font-size: 1.4rem !important;
                line-height: 120% !important;
            }
            &_btn__mobile
            {
                padding: 13px 20px !important;
                border-radius: 100px !important;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 120%;
            }
        }
    }
}