.footer
{
    padding: 52px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo
    {
        width: max(150px);
    }
    &__text
    {
        font-size: 1.4rem !important;
        line-height: 160% !important;
        max-width: 351px;
    }
    &__contacts
    {
        display: flex;
        flex-direction: column;
        max-width: 348px;
        gap: 10px;
        &-title
        {
            font-size: 1.8rem !important;
            line-height: 160% !important;
        }
        &-contact
        {
            display: flex;
            gap: 8px;
            align-items: center;
            &_phones
            {
                display: flex;
                flex-direction: column;
                a
                {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .footer
    {
        padding: 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer
    {
        padding: 52px;
        flex-direction: column;
        gap: 67px;
        &__text
        {
            text-align: center;
        }
        &__contacts
        {
            align-items: center;
            max-width: fit-content;
            gap: 15px;
        }
    }
}

@media screen and (max-width: 575px)
{
    .footer
    {
        padding: 52px 24px;
    }
}