.employee
{
    padding: 100px;
    &__tabcontainer
    {
        &-flex
        {
            display: flex;
            .left
            {
                margin-right: 15px;
            }
            .flex-container
            {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            &__item
            {
                width: max(363px);
                div
                {
                    width: 50px;
                    height: 50px;
                    padding: 14px 15px;
                    border-radius: 100px;
                    background: #2C2C2C;
                    text-align: center;
                }
                &-title
                {
                    font-size: 2.4rem !important;
                    margin: 10px 0;
                }
                &-text
                {
                    color: $second-color;
                }
            }
        }
        &-img
        {
            position: absolute;
            right: 0;
            z-index: -1;
        }
    }
    &__content
    {
        position: relative;
        display: flex;
    }
    &__equipment
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, minmax(220px, 1fr));
        grid-auto-rows: 220px;
        gap: 20px;
        &_item
        {
            padding: 30px;
            &.gradient-border
            {
                border-radius: 30px;
                border: 3px;
                &::before
                {
                    margin: -3px;
                }
            }
            &:first-child
            {
                grid-column: 1/3;
            }
            &-descr
            {
                display: flex;
                flex-direction: column;
                gap: 5px;
                &__title
                {
                    font-size: 2.4rem !important;
                }
            }
            &:not(:first-child)
            {
                padding: 30px 117px 0 30px;
                background-color: #111111;
            }
            &-title
            {
                font-size: 2.4rem !important;
                margin-bottom: 10px;
            }
            &-text
            {
                font-weight: 300 !important;
                color: $second-color;
            }
            &:nth-child(2)
            {
                background: url(/images/gun.png) bottom right/contain no-repeat #111111;
            }
            &:nth-child(3)
            {
                background: url(/images/motorolla.png) bottom right/contain no-repeat #111111;
            }
            &:nth-child(4)
            {
                background: url(/images/flashlight.png) bottom right/contain no-repeat #111111;
            }
            &:nth-child(5)
            {
                background: url(/images/camera.png) bottom right/contain no-repeat #111111;
            }
        }
    }
    &__prep
    {
        display: flex;
        align-items: center;
        gap: 34px;
        &-text
        {
            &__text
            {
                margin-top: 34px;
                color: $second-color;
            }
        }
    }
    .tabs
    {
        margin: 100px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        &__btn
        {
            padding: 15px 30px 17px;
            &-active
            {
                background: #2C2C2C;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .employee
    {
        &__tabcontainer
        {
            &-img
            {
                display: none;
            }
        }
        &__equipment
        {
            &_item
            {
                &:first-child
                {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                &:not(:first-child)
                {
                    padding: 30px 70px 0 30px;
                    background-color: #111111;
                }
                &:nth-child(4)
                {
                    background-size: 50%;
                    background-position: 120% 120%;
                }
                &:nth-child(5)
                {
                    background-size: 60%;
                    background-position: 100% 130%;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .employee
    {
        padding: 100px 50px;
        &__tabcontainer
        {
            &-flex
            {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
        &__prep
        {
            &-img
            {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .employee
    {
        padding: 32px 24px;
        &__title
        {
            font-size: 4.4rem !important;
            margin-bottom: 20px;
        }
        &__text
        {
            display: none;
        }
        &__tabcontainer
        {
            &-flex
            {
                &__item
                {
                    &-text
                    {
                        display: none;
                    }
                }
            }
        }
        &__equipment
        {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, minmax(220px, 1fr));
            grid-auto-rows: 220px;
            gap: 20px;
            &_item
            {
                padding: 30px;
                &.gradient-border
                {
                    border-radius: 30px;
                    border: 3px;
                    &::before
                    {
                        margin: -3px;
                    }
                }
                &:first-child
                {
                    display: none;
                }
            }
        }
        &__prep-text__title
        {
            font-size: 2.4rem !important;
        }
        .tabs
        {
            margin: 60px;
        }
    }
}

@media screen and (max-width: 575px) {
    .employee
    {
        &__tabcontainer
        {
            &-flex
            {
                .left
                {
                    margin: 0 auto;
                }
                &__item
                {
                    width: auto;
                    &-title
                    {
                        font-weight: 400 !important;
                    }
                }
            }
        }
        &__equipment
        {
            &_item
            {
                &:not(:first-child)
                {
                    padding: 25px;
                }
                &:nth-child(3)
                {
                    background-size: 70%;
                }
                &:nth-child(4)
                {
                    background-size: 50%;
                }
                &:nth-child(5)
                {
                    background-size: 60%;
                }
            }
        }
        .tabs
        {
            flex-wrap: wrap;
            &__btn
            {
                flex-grow: 1;
                padding: 11px 20px 13px;
                font-size: 1.4rem !important;
            }
        }
    }
}