.about
{
    min-height: 846px;
    padding: 235px 0 235px 100px;
    background: url(/images/about-img.png) top right/contain no-repeat;
    background-color: #1D1D1D;
    &__text
    {
        width: max(572px);
        color: $second-color;
        margin-top: 34px;
        white-space: pre-line;
    }
    &-accordion
    {
        display: block;
        margin-top: 34px;
        color: $accent-color;
        cursor: pointer;
    }
}